[submodule "src/kcptun"]
	path = src/kcptun
	url = https://github.com/rockon9sky/custom-kcptun
	branch = master
[submodule "src/custom-go"]
	path = src/custom-go
	url = https://github.com/rockon9sky/custom-go
	branch = master
